* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    height: 400px;
}

.container h1{
    position: relative;
    margin: 24px;
}

.container h1::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 40px;
    background-color: orange;
    margin-right: 8px;
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translateY(-50%);
}

.container .container-article{
    width: 400px;
    height: 400px;
    position: relative;
}

.container .container-article img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.container .container-article p{
    position: absolute;
    bottom: 20%;
    left : 4px;
    color: white;
    font-size: 20px;
}

.container .container-content p{
    font-size: 18px;
    padding : 8px;
    font-weight: 600;
}